.sesame-processus .results-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 50px 0px 50px;
    width: calc(100% - 100px);
}

.sesame-processus .results-container .key-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sesame-processus .results-container .key-container .minimal-result {
    width: calc(100% - 60px);
    color:var(--sys-text-color);
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--sys-background-color-video-override);
}

.sesame-processus .results-container .key-container .minimal-result:hover > .result-header .result-textual .result-name span  {
    text-decoration: underline;
}

.sesame-processus .results-container .key-container .minimal-result {
    display: flex;
    flex-direction: column;
}

.sesame-processus .results-container .key-container .minimal-result .result-description {
    font-size: 14px;
}

.sesame-processus .results-container .key-container .minimal-result .result-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.sesame-processus .results-container .key-container .minimal-result .result-image img {
    height: 40px;
}

.sesame-processus .results-container .key-container .minimal-result .result-header .result-textual {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sesame-processus .results-container .key-container .minimal-result .result-header .result-textual .result-name {
    color:var(--sys-colormetrics-light);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    transition: var(--sys-element-transition);
}
.sesame-processus .results-container .key-container .minimal-result .result-header .result-textual .result-name .sesameTag {
    background-color:var(--sys-colormetrics-main);
    font-size: 13px;
    padding: 3px 10px 3px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    fill:var(--sys-colormetrics-light);
    gap: 5px;
    justify-content: center;
    border-radius: 50px;
}
.sesame-processus .results-container .key-container .minimal-result .result-header .result-textual .result-name .sesameTag svg {
    width: 15px;
    height: 15px;
}
.sesame-processus .results-container .key-container .minimal-result .result-header .result-textual .result-link {
    font-size: 12px;
    color:var(--sys-text-color-light)
}