$paddings: (
    app-first-padding: 20px,
    app-second-padding: 10px,

    app-top-bottom-button-padding: 10px,
    app-sides-button-padding: 15px,

    app-top-bottom-select-padding: 5px,
    app-sides-select-padding: 15px,

    app-top-bottom-input-padding: 10px,
    app-sides-input-padding: 15px,
    app-sides-input-label-padding: 5px,

    app-selecter-padding: 5px,
);