body {
    width: 99%;
    height: 100%;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main-body {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.header {
    width: 95%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    color : rgba(255,255,255);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.research {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.research button {
    width: 60px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    border: none;
    background-color: rgba(0,0,0,0);
    color: rgba(255,255,255);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px hsl(200,100%,80%);
}
body input {
    width: 120px;
    height: 20px;
    padding: 5px;
    margin-left: 10px;
    box-shadow: 0 0 5px hsl(200,100%,80%);
    background-color: rgba(0,0,0,0);
    color: rgba(255,255,255);
    outline : none;
    border: none;
}
.input {
    width: 150px;
    text-align: center;
    height: 30px;
    color: rgba(255,255,255);
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    margin-left: 60px;
    box-shadow: 0 0 5px hsl(200,100%,80%);
}
.results {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

@media only screen and (max-width: 700px){
    .results{ 
        grid-template-columns: auto auto;
     };
}
@media only screen and (max-width: 600px){
    .results{ 
        grid-template-columns: auto;
     };
}
.loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-duration: 10s;
    border: solid 2px;
    border-color: rgba(0, 0, 0,0);
    align-items: center;
    justify-content: center;
    display: flex;
    /*animation-iteration-count: infinite;*/
}


.header img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    transform: rotate(45deg);
}

.header-title {
    font-size: 150%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(9, 9, 9);
    border-radius: 2px;
    box-shadow: inset 0 0 5px  hsl(200,100%,80%);
  }
.user {
    width: 200px;
    height: 300px;
    box-shadow: 0 0 5px hsl(200,100%,80%);
    color : rgba(255,255,255)
}

.body {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    align-items: center;
}

.pfp-and-name {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    padding-top:10px;
}

.pfp {
    width: 45px;
    height:45px;
    border-radius: 50%;
    box-shadow: 0 0 5px hsl(200,100%,80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.name {
    font-size: 130%;
    
}

.ecp {
    margin-top: auto;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

#star {
    color : yellow;
}

@media only screen and (max-width: 800px){
    .end-header{ 
       visibility: hidden;
     };
  }
  @media only screen and (max-width: 800px){
    .ecp{ 
       visibility: hidden;
     };
  }
  @media only screen and (max-width: 800px){
    .distinctions{ 
        margin-top: 10px
     };
  }

.end-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255,0.1);
    color:rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    gap: 10px;
}

.links {
    position: fixed;
    bottom : 5;
    right: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.links div {
    border : solid 1px rgba(255,255,255,0.5);
    border-radius: 5px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 25px;
    box-shadow: 0 0 2px hsl(200,100%,80%);
}
.credits {
    left : 50px;
}
#e-h {
    position: fixed;
    bottom : 2;
}
.distinctions {
    width: 80% ;
    padding: 10px;
    padding-top: 20px;
    margin-top: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 150px;
    align-items: flex-start;
    justify-content: start;
}
.distinctions div {
    padding-left: 5px;
    border-radius: 5px;
    padding-right: 5px;

}