.login-container {
    height: calc(100vh - 110px - 40px);
    width: calc(50% - 40px);
    margin:auto;
    color:var(--sys-text-color);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login-container .header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-container .header .user-infos {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    width: calc(100% - 40px);
    border: 1px solid var(--sys-colormetrics-light);
    fill:var(--sys-colormetrics-light);
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Roboto";
    border-radius: 20px;
}

.login-container .header .user-infos .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .header .sesamod-infos {
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    align-items: center;
    justify-content: center;
}
.login-container .header .sesamod-infos .sesame-logo img {
    height: 15vh;
}


.login-container .connect {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Roboto";
}
.login-container .connect .check {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.login-container .connect .check .icon {
    width: 40px;
    height: 15px;
    padding: 5px 5px 5px 5px;
    border-radius: 50px;
    background-color: var(--sys-background-color-chill-ligther);
    cursor: pointer;
    position:relative;
}
.login-container .connect .check .icon .toggle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--sys-text-color-light);
    position:absolute;
    top:0;bottom:0;margin:auto;
    transition: var(--sys-element-transition);
    left: 5px;
}
.login-container .connect .check .icon .on {
    background-color: var(--sys-colormetrics-main);
    left: calc(100% - 20px);
}
.login-container .connect .fill .input {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}
.login-container .connect .fill .input input {
    background-color: var(--sys-background-color-chill-ligther);
    padding: 10px 10px 10px 10px;
    height: 20px;
    border-radius: 5px;
    border:none;
    outline:none;
    color:var(--sys-text-color);
    font-size:16px;
}
.login-container .actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

#LogInSesame {
    width:fit-content;
    padding: 5px 20px 5px 20px;
    border:1px solid var(--sys-colormetrics-light);
    font-family: "Poppins";
    border-radius: 50px;
    cursor: pointer;
    transition: var(--sys-element-transition);
}

#LogInSesame:hover {
    background-color: var(--sys-background-color-chill-ligther);
}


.login-container .connect-result {
    width: fit-content;
    height: fit-content;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Poppins";
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    background-color: var(--sys-background-color-chill-ligther);
}

.login-container .connect-result .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.login-container .connect-result .text span:nth-child(1) {
    font-size: 20px;

}
.login-container .connect-result .icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sys-background-color);
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}
#failure {
    fill:var(--sys-colormetrics-main);
}
#success {
    fill:#35AB36;
}
.login-container .connect-result .icon svg {
    width: 40px;
    height: 40px;
}