:root {
    --sys-background-color : #181818;
    --sys-background-color-lighter : #232323;
    --sys-background-color-chill-ligther : rgb(30, 30, 30);
    --sys-background-color-video-override : #1a1a1a;
    --sys-background-color-video-override-hover : #181818;
    --sys-background-color-video-override-light : #1a1a1a;

    --sys-text-color : #ffffff;
    --sys-text-color-light : rgba(255,255,255,0.6);
    --sys-element-transition : 0.2s;

    --sys-colormetrics-main : #B82828;
    --sys-colormetrics-light : #ffdad8;
}