
body {
    background-color: #2d2d2d;
    color:aliceblue;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Bio, img {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.Naf_Naf_Logo, .SA, .STF, .SST {
    pointer-events: none; user-select: none;
    width: 100px;
}
.BIGTITLE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.Bio {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 800px;
    position: absolute;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 20px;
}

.BioBox {
    position: absolute;
    margin-top: 20px;
    margin-left: 780px;
}



.F {
    position: absolute;
    margin-top: 500px;
    float: left;
    border-radius: 0%;
}


