@keyframes show-search {
    0% {
        width: 60px;
    }
    100% {
        width: 50%;
    }
}
@keyframes show-search-input {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes image-appear {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.main-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .welcome-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .big-header {
            animation:image-appear;
            animation-duration: 1s;
            font-size: 50px;
            font-family: "Poppins",sans-serif;
            width: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .big-header img {
            width: 100%;
            border-radius: 100px;
        }

    }
    .search {
        animation:show-search;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        font-family: "Roboto",sans-serif;
        width: 60px;
        .search-input input::placeholder {
            color:var(--color-lighter);
        }
        .search-input input {
            border:none;
            outline:none;
            width: 100%;
            background-color: var(--backgrounds);
            font-size: 20px;
            color:var(--coloring);
            border-radius: 50px;
            padding-left: 5px;
            padding-right: 20px;
            animation:show-search-input;
            animation-duration: 1s;
        }
        .search-input:focus-within,
        .search-input:hover {
            border: 1px solid #B82828 !important;
        }
        .search-input {
            border: 1px solid rgba(0,0,0,0);
            transition:border 0.4s;
        }
        .search-input {
            width: calc(100% - 50px);
            height: 50px;
            padding-left: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: var(--backgrounds);
            border-radius: 50px;
            position:relative;
            .icons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: fit-content;
                gap: 2px;
            }
            .icons div {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content:center ;
                cursor: pointer;
                border-radius: 5px;
            }
            .search-button {
                position:absolute;
                top:0;bottom:0;left: 5px; margin:auto;
            }
             .search-button svg, .latest svg {
                width: 30px;
                height: 30px;
            }
            .search-button {
                fill:#B82828;
            }
            .latest {
                fill:#309330;
            }
        }
        
    }

    .pick-a-type {
        position:absolute;
        left:0;right:0;
        margin:auto;
        width: 300px;
        height: 40px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 0px;
        border: 2px solid var(--black-lighter);
        border-radius: 15px 15px 15px 15px;
        .top {
            background-color: var(--backgrounds);
            font-family: "Roboto",sans-serif;
            display: flex;
            height: 20px;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            padding: 10px;
            justify-content: center;
        }
        .top svg {
            fill:#E91E63;
            width: 35px;
            height: 35px;
        }
    }
    .search-suggestion {
        font-family: "Roboto",sans-serif;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        border-radius: 0px;
        padding: 5px;
        background-color: var(--backgrounds);
        transition: transform 0.4s;
        cursor: pointer;
        width: 275px;
        padding-left: 20px;
        height: 30px !important;
        transition: background-color 0.4s;
    }
    .search-suggestion:nth-last-child(1) {
        border-radius: 0px 0px 10px 10px;
    }
    .search-suggestion:hover {
        background-color: #B82828;
        font-weight: bold;

    }

    .search-suggestion svg {
        fill:var(--backgrounds);
        width: 30px;
        height: 30px;
        display: none;
    }
}
.pick-a-type {
    transition: height 0.4s;
      .infos-type {
        font-family: "Poppins";
        color:var(--color-light);
        background-color: var(--backgrounds);
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        width: calc(100% - 20px);
        height: 40px;
        gap: 5px;
        align-items: center;
        font-size: 12px;
      }
}
.pick-a-type:hover {
    height:calc((30px + 10px) * 6 + 40px);
}



.sesame-creator {
    padding: 5px;
    border-radius: 50px;
    background-color: var(--backgrounds);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    right:10px;
    bottom:10px;
    gap: 5px;
    font-family: "Poppins",sans-serif;
    width: fit-content;
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.sesame-creator img {
    width: 40px;
}


@media (max-width: 768px) {
    .big-header {
      width: 70% !important;
    }
    .pick-a-type {
      height: fit-content !important;
      .top {
        border-radius: 10px 10px 0px 0px;
      }
      .search-suggestion:nth-last-child(1) {
        border-radius: 0px 0px 10px 10px !important;
    }
    }
    .search {
        width: 90% !important;
    }
  }
