@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


body {
    background: linear-gradient(45deg, var(--background-color-left) 45%, var(--backgrounds));
    color: var(--coloring);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100% auto;
    background-attachment: fixed;
    overflow-x: hidden !important;
}

/* For WebKit-based browsers and Microsoft Edge */
/* Note: Microsoft Edge also supports the -ms-overflow-style property */
::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background-color: #191919;
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
/* Note: Firefox also supports scrollbar-width and scrollbar-color properties */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

*::-moz-scrollbar-thumb {
  background-color: #888;
}

*::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

*::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

@keyframes load {
  0% {
    left:-20%;
    right:unset;
  } 
  100% {
    left:unset;
    left:120%
  }

}

.loader-search {
  z-index: 90;
  height: 50px ;
  overflow: hidden;
  position:absolute;
  left:0;right:0;top:0;bottom:0;margin:auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins";
  background-color: var(--backgrounds);
  width: fit-content;
  border-radius: 20px;
  padding: 40px;
  .loader {
    background-color: var(--backgrounds-lighter) ;
    height: 20px ;
    border-radius: 50px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    position:relative;
    width: 250px;
  }
  .min-loader {
    height: 80%;
    position:absolute;
    top:0;bottom:0;margin:auto;
    background-color: #B82828;
    width: 20%;
    border-radius: 50px;
    animation:load;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }
}


.no-result {
  z-index: 90;
  background-color: rgba(25, 25, 25,0.3) ;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position:absolute;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  left:0;right:0;top:0;bottom:0;margin:auto;
  border-radius: 10px;
  overflow: hidden;
  .big-title {
    font-family: "POppins",sans-serif;
  }
  .big-title span {
    font-weight: bold;
  }
  .small-title {

    color:var(--color-light);
    font-family: "Roboto",sans-serif;
    font-size: 13px;
  }
}

