.sesame-processus {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-left: -10px;
    margin-top: -10px;
    gap: 50px;
}

.sesame-processus .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    z-index: 40;
    gap: 20px;
    
}



.sesame-processus .header .logo {
    height: 20vh;
}
.sesame-processus .header .logo img {
    height: 100%;
}
.sesame-processus .header .search-input {
    transition: 1s;
    width: calc(50% - 10px);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 0px 0px 0px;
    border-radius: 50px;
    height: 50px;
}
.sesame-processus .header .searchBar-fixed {
    position:fixed;
    left:0;right:0;margin: auto;
    top:10px;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.1);
    width: calc(40% - 10px);
    background-color: var(--sys-background-color-lighter); 


}

.sesame-processus .header .searchBar-fixed .icons, .sesame-processus .header .searchBar-fixed  input {
    background-color: rgba(0,0,0,0) !important;
}
.sesame-processus .header .search-input .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
}
.sesame-processus .header .search-input .icons div {
    fill:var(--sys-colormetrics-main);
    cursor: pointer;
    background-color: var(--sys-background-color-video-override);
    padding: 10px;
    border-radius: 50%;
    transition: var(--sys-element-transition);
}
.sesame-processus .header .search-input .icons div:hover {
    background-color: var(--sys-background-color-video-override-hover);
}
.sesame-processus .header .search-input .icons div svg {
    width: 30px;
    height: 30px;
}
.sesame-processus .header .search-input input:hover,.sesame-processus .header .search-input input:focus {
    background-color: var(--sys-background-color-video-override-hover)
}
.sesame-processus .header .search-input input {
    transition: var(--sys-element-transition);
    height: 30px;
    padding: 5px 20px 5px 20px;
    width: calc(100% - 40px);
    color:var(--sys-text-color);
    background-color: var(--sys-background-color-video-override);
    border:1px solid var(--sys-background-color-video-override);
    outline:none;
    font-size: 18px;
    height: calc(100% - 10px - 2px);
    border-radius: 50px;
}

.sesame-processus .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 150px;
    justify-content: center;
}
.sesame-processus .container .results-container {
    width: 50%;
}
.sesame-processus .container .net-result {
    width: calc(40% - 80px);
}



.browser-menu {
    position:fixed;
    top:20px;
    right:0px;
    padding: 10px;
    height: fit-content;
    width: 40px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 15px;
    border-radius: 20px 0px 0px 20px;
    transition: var(--sys-element-transition);
    z-index: 50 !important;
}
.browser-menu-view {
    width: 250px;
    background-color: var(--sys-background-color-chill-ligther);

}
.browser-menu .button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    fill:var(--sys-colormetrics-main);
    cursor: pointer;
    border-radius: 50px;
    transition: var(--sys-element-transition);
    height: fit-content;
    width: fit-content;
}
.browser-menu .button:hover {
    background-color: rgba(255,255,255,0.025);
}

.browser-menu .container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.browser-menu .container .class-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.browser-menu .container .class-content .content-name {
    font-family: "Montserrat";
    fill: var(--sys-text-color-light);
    color: var(--sys-text-color-light);
    font-size: 13px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.browser-menu .container .class-content .content-name .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.browser-menu .container .class-content .content-name .icon svg {
    height: 15px;
    width: 15px;
}


.browser-menu-button {
    background-color: var(--sys-background-color-chill-ligther);
    color:var(--sys-text-color);
    fill:var(--sys-colormetrics-main);
    font-family: "Poppins";
    height: 40px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: var(--sys-element-transition);
}

.browser-menu-button:hover {
    text-decoration: underline;
}
.browser-menu-button .icon svg {
    width: 20px;
    height: 20px;
}
.browser-menu-button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



